<!DOCTYPE html>
<html>
  <head>
    <title>AJAX</title>
    <link rel="stylesheet" href="/css/style.css" />
    <script src="https://code.jquery.com/jquery-3.4.0.min.js"></script>
    <script src="/js/ajax.js"></script>
  </head>
  <body>
    <h1>Playing with AJAX</h1>
    <button id="getPostBtn">Click Me</button>
    <section>

    </section>
  </body>
</html>
